$base-color: #007bff;
$bdim-color: #75b5fad3;
$htext-color: rgb(61, 61, 61);
$ptext-color: rgb(87, 87, 87);
$mildtext-color: rgb(214, 33, 1);
$dim-color: rgb(182, 181, 181);
$placeholder-color: rgba(255, 38, 0, 0.795);